.modal-container {
    position: absolute;
    width: 80%;
    left: 10%;
    top: 10%;
    min-height: 50px;
    padding: 20px;
    background: #f3f3f3;
    z-index: 100;
    box-shadow: 4px 4px 4px #fefefe;
}

.modal-header {
    .modal-header-delete-icon {
        text-align: right;
        fill: #00B4CF;
        font-weight: bold;
    }

    .modal-container-title {
        text-align: center;
    }

    .modal-header-title {
        color: #6A6A6A;
    }
}

.modal-main {
    margin-top: 20px;

    .modal-input {
        width: 98%;
        height: 35px;
        padding: 0 2px;
        outline: none;

        &::-webkit-input-placeholder {
            color: #00B4CF;
            font-size: 12px;
        }
    }
}

.modal-footer {
    display: -webkit-flex;
    display: flex;
    justify-content: flex-start;
    color: white;
    margin-top: 20px;

    .button {
        height: 30px;
        line-height: 30px;
        width: 120px;
        font-size: 12px;
        text-align: center;
        cursor: pointer;

        &.add-btn {
            background: #00B4CF;
        }

        &.cancel-btn {
            background: #435466;
            margin-left: 14px;
        }
    }
}

@media screen and(max-width: 768px) {
    .modal-container {
        position: fixed;
        left: 0;
        bottom: 0;
        top: auto;
        height: 180px;
        width: 90%;
        background: white;
    }

    .icondelete1 {
        fill: #00B4CF;
    }


    .modal-main {
        margin-top: 20px;
    
        .modal-input {
            padding: 0 2px;
            outline: none;
            border: 1px solid #ccc;
    
            &::-webkit-input-placeholder {
                color: #00B4CF;
                font-size: 12px;
            }
        }
    }

    .modal-footer {
        width: 100%;

        .add-btn {
            width: 100%;
        }

        .cancel-btn {
            display: none;
        }
    }
}
